#!/usr/bin/env bash

# define environment variables in .env files
dotenv .env
dotenv_if_exists .env.local

export MIGRATION_NAME=""
export CONNECTION_STRING="postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable"
