################################################################################
# THIS IS TEMPLATE. REMOVE .example EXTENSION
# For local development
################################################################################
# architecture of container
ARCH=arm64

# port of server
PORT_BACKEND=8080
PORT_FRONTEND=7070
