.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

/bin

.vscode/*
!.vscode/settings.json.example
!.vscode/extensions.json.example
!.vscode/tasks.json.example
!.vscode/launch.json.example
.idea/
*.swp
*.swo

.env.local
*.pem
*.key
*.p12
