.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vscode/*
!.vscode/settings.json.default
!.vscode/extensions.json.default
!.vscode/tasks.json.default
!.vscode/launch.json.default
.idea/
*.swp
*.swo

.env
*.pem
*.key
*.p12
