################################################################################
# THIS IS TEMPLATE. REMOVE .example EXTENSION
# For local development
################################################################################
PORT_BACKEND=8000
PORT_FRONTEND=3000

URL_BACKEND="http://localhost"
URL_FRONTEND="http://localhost"

VITE_URL_BACKEND=${URL_BACKEND}
VITE_PORT_BACKEND=${PORT_BACKEND}
