################################################################################
# THIS IS TEMPLATE. REMOVE .example EXTENSION
# For local development
################################################################################
PORT_PROXY=8081
PORT_BACKEND=8082
PORT_FRONTEND=8083

URL_BACKEND="http://localhost"
URL_FRONTEND="http://localhost"

VITE_URL_BACKEND=${URL_BACKEND}
VITE_PORT_BACKEND=${PORT_BACKEND}
