@import "tailwindcss";
@import "./shared/style/accent.css";
@import "./shared/style/grayscale.css";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Noto+Sans:wght@400;700&display=swap');

@theme {
  --font-sans: "Helvetica", "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
      "Noto Sans", "Noto Sans JP",
      ui-sans-serif, system-ui, sans-serif;

  --color-foreground: var(--gray-12);
  --color-background: var(--gray-2);

  --color-foreground-muted: var(--gray-8);

  --color-foreground-accent: var(--green-10);
  --color-background-accent: var(--green-2);
}
